<footer class="p-5p bg-zinc-900 text-white md:grid grid-cols-3">
    <div class="p-1">
      <a href="#" class="font-serif text-4xl mb-4 block"> VOGUE </a>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit sint dignissimos magni vitae. </p>
    </div> 
    <nav class="p-1">
      <h2 class="p-1 font-bold tracking-wide"> MORE FROM VOGUE </h2>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Link One </a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Link Two </a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Link Three </a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Link Four </a>
    </nav> 
    <nav class="p-1">
      <h2 class="p-1 font-bold tracking-wide"> CONNECT WITH US </h2>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Instagram</a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Facebook </a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> LinkedIn </a>
      <a href="#" class="p-1 block uppercase text-sm tracking-wide"> TikTok </a>
    </nav> 
  </footer>
  