---
layout: default
---


<section class="padded capped-width-narrow blog-content">


    <div class="intro padded-1 center margin-b-2">

        {% for item in page.categories %}
            <span class="tag"> {{ item }}</span>
        {% endfor %}
        
        <h1> {{ page.title }} </h1>
        
        <p class="post-info"> by {{ page.author }} | {{ page.date | date_to_string }} </p>
     
    </div>
    
    {% include social-share.html %}

</section>


{% for block in page.page_blocks %}
    {% include /blocks/{{block._id}}.html %}
{% endfor %}



{% include related-posts.html %}